.badge,
.badge.dark {
  --paddingX: 1.6rem;
  --paddingY: 0.8rem;
  --fontSize: 1.6rem;
  --radius: 0.8rem;

  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;
  padding-inline: var(--paddingX);
  padding-block: var(--paddingY);
  font-size: var(--fontSize, var(--font-base));
  border-radius: var(--radius);

  /* -------------------------------------------------------------------------- */
  /*                                    색상정의                                  */
  /* -------------------------------------------------------------------------- */

  &.common {
    color: var(--white);
    background-color: var(--yellow600);
  }
  &.green_success {
    color: var(--white);
    background-color: var(--success, (--green650));
  }
  &.alert {
    color: var(--white);
    background-color: var(--red450);
  }
  &.warning {
    color: var(--white);
    background-color: var(--red250);
  }
  &.info {
    color: var(--white);
    background-color: var(--blue650);
  }
}

/* 다크 */
.badge.dark {
  &.green_success {
    --success-dark: #02971c;
    color: var(--white);
    background-color: var(--success-dark, (--green650));
  }
  &.alert {
    --alert-dark: #fd0025;
    color: var(--white);
    background-color: var(--alert-dark, var(--red450));
  }
  &.warning {
    --warning-dark: #eb3800;
    color: var(--white);
    background-color: var(--warning-dark, var(--red250));
  }
  &.info {
    --info-dark: #9f03ff;
    color: var(--white);
    background-color: var(--info-dark, var(--blue650));
  }
}

.copy.dark {
  background: var(--black_dark);
}
