.btn {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  justify-content: center;

  /* -------------------------------------------------------------------------- */
  /*                                    크기정의                                  */
  /* -------------------------------------------------------------------------- */
  /* 돌아가는 모양 */
  &.w_sm {
    --px: 3rem;
    --py: 0.8rem;
    --fs: 0.8rem;

    padding-inline: var(--px);
    padding-block: var(--py);
    font-size: var(--fs, var(--font-base));
  }
  /* Button */
  &.w_base {
    --px: 3rem;
    --py: 0.9rem;
    --fs: 1.6rem;

    padding-inline: var(--px);
    padding-block: var(--py);
    font-size: var(--fs, var(--font-base));
  }
  /* Loading */
  &.w_md {
    --px: 4rem;
    --py: 1.4rem;
    padding-inline: var(--px);
    padding-block: var(--py);
    font-size: var(--fs, var(--font-base));
  }
  &.border {
    border: 1px dotted var(--gray850);
  }

  /* -------------------------------------------------------------------------- */
  /*                                    색상정의                                  */
  /* -------------------------------------------------------------------------- */
  &.primary {
    color: var(--white);
    background: var(--primary);
  }
  &.secondary {
    color: var(--white);
    background: var(--secondary);
  }
  &.gray {
    color: var(--primary);
    background: var(--gray150);
  }
  &:disabled {
    opacity: 0.5;
    background: var(--gray500);
  }

  /* -------------------------------------------------------------------------- */
  /*                                    아이콘정의                                */
  /* -------------------------------------------------------------------------- */
}
